<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portafolio</title>
	<link rel="stylesheet" href="../static/style/normalize.css">
	<link rel="stylesheet" href="../static/style/estilo.css">

</head>
<body>
	<header id="header">
		<nav class="header-nav">
			<ul class="header-mainmenu">
				<li class="header-list">
					<a class="header-link" href="#">Yo</a>
				</li>
				<li class="header-list">
					<a class="header-link" href="#">Perfil</a>
				</li>
				<li class="header-list">
					<a class="header-link" href="#">Trabajo</a>
				</li>
				<li class="header-list">
					<a class="header-link" href="#">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure class="header-imagcontainer">
			<img class="header-imag" src="../static/imag/avatar.jpg" alt="">
		</figure>
		<p class="header-name">Nahum ramos</p>
		<a class="header-social" href="#">nahum ramos</a>
	</header>
	<section id="profile" >
		<article class="u-container">
		<h2 class="profile-title">Mi Perfil</h2>
		<p class="profile-comment">Para contactarme visita mis redes sociales..</p>	
		<a class="profile-face icon-facebook"href="#"></a>
		<a class="profile-twitter icon-twitter"href="#"></a>
		<a class="profile-gith icon-github"href="#"></a>	
		</article>	
	</section>
	<section id="work" >		
		<h2 class="work-title">Mi Trabajo</h2>		
		<article class="work-item">
			<figure class="work-imagcontainer">
				<img class="work-imag" src="../static/imag/web4.jpg" alt="">
			</figure>
			<figcaption class="work-comment">MIportafolio.com</figcaption>
		</article>	

		<article class="work-item">
			<figure class="work-imagcontainer">
				<img class="work-imag" src="../static/imag/we2.jpg" alt="">
			</figure>
			<figcaption class="work-comment">MIportafolio.com</figcaption>
		</article>	

		<article class="work-item">
			<figure class="work-imagcontainer">
				<img class="work-imag" src="../static/imag/web3.jpg" alt="">
			</figure>
			<figcaption class="work-comment">MIportafolio.com</figcaption>
		</article>	

		<article class="work-item">
			<figure class="work-imagcontainer">
				<img class="work-imag" src="../static/imag/web1.jpg" alt="">
			</figure>
			<figcaption class="work-comment">MIportafolio.com</figcaption>
		</article>	

		<article class="work-item">
			<figure class="work-imagcontainer">
				<img class="work-imag" src="../static/imag/we2.jpg" alt="">
			</figure>
			<figcaption class="work-comment">MIportafolio.com</figcaption>
		</article>	

		<article class="work-item">
			<figure class="work-imagcontainer">
				<img class="work-imag" src="../static/imag/web4.jpg" alt="">
			</figure>
			<figcaption class="work-comment">MIportafolio.com</figcaption>
		</article>		
	</section>
	<footer id="footer">
		
		<p>contacto</p>
		<p>clientes</p>
		<p>biografia</p>
		<p>diseños</p>	
		
	</footer>	
</body>
</html>